.flyout {
    position: absolute;
    left: 0;
    top: 0;

    width: 100%;
    z-index: -1;
    overflow:hidden;
    visibility: hidden;

    &.open {
        z-index: 890;
        visibility: visible;

        .flyout-container {
            pointer-events: auto;
        }
    }

    &.opening {
        z-index: 891;
        .flyout-container {
            pointer-events: none;
        }
    }

    &.closing {
        .flyout-container {
            pointer-events: none;
        }
    }

    a, button {
        span {
            pointer-events: none;
        }
    }

    &-container {
        position: relative;
        top: -100%;
        left: 0;
        width: 100%;
        height: 100%;
        background-color: #fff;
        overflow: hidden;
    }
}
