.js-appear-on-scroll {
    opacity: 0;
    transition: opacity 0.5s ease-out, transform 0.5s ease-out;
    transform: translateY(1rem);

    &[data-appear-on-scroll="0"] {
        opacity: 1;
        transform: translateY(0);
    }
}
